 <section class="mt-5">
    <footer class="text-center text-white bg-primary">
      <div class="container p-4 pb-0">
        <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <% if (!user) {%>
            <span class="me-3">Register for free</span>
            
              <a href="/signup" data-mdb-ripple-init type="button" class="btn btn-outline-light btn-rounded">
                Sign up!
              </a>
          </p>
          <% } %>
        </section>
      </div>
  
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.4);">
        © 2024 Copyright:
        <a class="text-white" href="/">Adilet Kaiyrbekov</a>
      </div>
    </footer>
</section>