<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup - The Aircraft App</title>

    <%- include('../components/head.ejs') %>

    <style>
        * {
            font-family: "Poppins";
        }

        body {
            background-image: url("/images/mountain.jpg");
            background-size: cover;
        }
    </style>
</head>

<body class="bg-light vh-100">
    <div class="vh-100">
        <%- include('../components/navbar.ejs') %>
    <br>
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4 mt-5">
                <div class="card rounded-3">
                    <div class="card-body">
                        <h3 class="text-center mb-4">Sign Up</h3>
                        <form action="/signup" method="post">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control rounded-3" id="username" name="username" required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email address</label>
                                <input type="email" class="form-control rounded-3" id="email" name="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control rounded-3" id="password" name="password" required>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary rounded-3">Sign Up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    </div>

    <%- include('../components/footer.ejs') %>

    <% if (error) { %>
        <script>
            Swal.fire({
                title: "An error occured!",
                text: "<%= error %>",
                icon: "error"
            });
        </script>
    <% } %>
</body>
</html>
